fastapi
uvicorn
pandas
numpy
openai==0.27.6
# api_key
python-dotenv
matplotlib
plotly
scipy
scikit-learn
pinecone-client
bs4
beautifulsoup4
tiktoken
langchain==0.0.216
nltk
webdriver_manager==4.0.1
selenium==4.13.0
